@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 900px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 60px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   position: relative;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #a048a8;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}


.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #ffffff;
	background: linear-gradient(180deg, #a048a8, #433edd63, #7c21b1);
}

.dev p {
    max-width: 100%;
    color: #f8f2f2; /* Cor padrão do texto */
    text-decoration: none; /* Removendo sublinhado padrão */
    padding-top: 20px; /* Adicionando um padding no topo para dar espaço ao elemento */
}

.dev a:hover {
    color: #ffffff; /* Cor do LinkedIn para indicar que é um link */
    
	cursor: pointer; /* Alterando o cursor para a mão ao passar o mouse */
}



/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
.dev p {
	margin-left: 10px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
.dev p {
	margin-left: 10px;
}
}
@media(max-width: 574px){
	.footer-col{
	  width: 100%;
	  
  }
  .dev p {
	margin-left: 10px;
}
  }

  @media(max-width: 500px){
	.footer-col{
	  width: 100%;
  }

  	.dev p {
		margin-left: 10px;
	}
  }
  @media(max-width: 400px){
	.footer-col{
	  width: 100%;
  }

  	.dev p {
		margin-left: 10px;
	}
  }







